{% extends "base.html" %}
{% block title %}mylesgrant.com{% endblock %}
{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="mylesgrant.com RSS Feed" href="http://www.mylesgrant.com/feed" />
{% endblock %}

{% block content %}
	{% for entry in entries %}
	<div class="span-24">
	{% ifequal entry.type 'flickr' %}
		<h2>{{ entry.title|escape }}</h2>
		<p>			
			{% if entry.is_video %}
			<video src="{{ entry.playback_url }}" width="{{ entry.width }}" height="{{ entry.height }}" poster="{{ entry.url }}" controls preload="none"></video>
			{% else %}
			<a href="http://www.flickr.com/photos/mylesdgrant/{{ entry.id }}/"><img src="{{ entry.url }}" width="{{ entry.width }}" height="{{ entry.height }}" alt="Photo on Flickr"></a>
			{% endif %}
			{% if entry.description %}
			<br />{{ entry.description|escape }}
			{% endif %}
		</p>
		<p class="byline">
			- Is a {% if entry.is_video %}video{% else %}photo{% endif %} from <a href="/flickr/{{ entry.id }}">{{ entry.published_dt|timesince }} ago</a> on <a href="http://www.flickr.com/photos/mylesdgrant/">Flickr</a>
		</p>
	{% else %}
	{% ifequal entry.type 'twitter' %}
		<p>
			{{ entry.title|urlize }}
		</p>
		<p class="byline">
			- Is a toot from <a href="/twitter/{{ entry.id }}">{{ entry.published_dt|timesince }} ago</a> on <a href="http://twitter.com/myles">Twitter</a>
		</p>
	{% else %}
		<h2>{{ entry.title|escape }}</h2>
		{{ entry.body|linebreaks }}
		<p class="byline">
			- Is a post from <a href="/braindump/older/{{ entry.date_published|date:"Y" }}/{{ entry.date_published|date:"m" }}/{{ entry.date_published|date:"d" }}/{{ entry.stub }}.html">{{ entry.date_published|timesince }} ago</a>
		</p>
	{% endifequal %}
	{% endifequal %}
	</div>
	{% endfor %}
{% endblock %}